<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ASRS_ServiceSoap" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WebServiceForVolvo/ASRS_Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ASRS_ServiceSoap"
                contract="ServiceForVolvo.ASRS_ServiceSoap" name="ASRS_ServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>