<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ASRS_ServiceSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/WebServiceForVolvo/ASRS_Service.asmx" binding="basicHttpBinding" bindingConfiguration="ASRS_ServiceSoap" contract="OpcService.ASRS_ServiceSoap" name="ASRS_ServiceSoap"/>
    </client>
  </system.serviceModel>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="true"/>
  </runtime>

</configuration>
