<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ASRS_ServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.100/WebServiceForVolvo/ASRS_Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ASRS_ServiceSoap"
                contract="ServiceForVolvo.ASRS_ServiceSoap" name="ASRS_ServiceSoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
