<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!--系统初始化需要的参数-->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebServiceForASRS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <clear />
    <add key="userName" value="" />
    <add key="password" value="" />
    <add key="WAREHOUSENO" value="小蓝车间立体库" />
  </appSettings>
  
  <runtime>
    <gcConcurrent enabled="false" />
  </runtime>
  <connectionStrings>
    <add name="WebServiceForASRS.Properties.Settings.JMCOracle" connectionString="Data Source= (DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.28.124.142)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = JMC11)));User Id=CYWMS; Password=cywms!;" />
  </connectionStrings>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <!--
      通过 <authentication> 节，可配置 
      ASP.NET 用于识别进入用户的 
      安全身份验证模式。
    -->
    <authentication mode="Windows" />
    <!--
       通过 <customErrors> 节，可以配置
       在执行请求的过程中出现未处理的错误时要执行 
       的操作。具体而言，
       开发人员通过该节可配置要显示的 html 错误页，
       以代替错误堆栈跟踪。

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <httpRuntime maxRequestLength="1048576" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
    
  </system.web>
  <!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX 
        所必需的。对于早期版本的 IIS，不必保留此节。
  -->
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET" />
        <add name="Access-Control-Allow-Headers" value="x-requested-with,content-type" />
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <add value="ASRS_Service.asmx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <applicationSettings>
    <WebServiceForASRS.Properties.Settings>
      <setting name="WebServiceForASRS_Opc_Service_OPCXML_DataAccess" serializeAs="String">
        <value>http://localhost/OPC.Simatic.NET/sopcweb.asmx</value>
      </setting>
    </WebServiceForASRS.Properties.Settings>
  </applicationSettings>
  
</configuration>